html{
    background-color:#f0f4e379;
}

body{
    margin:10px;
}

.container{
    font-family:AvantGarde;
    margin-left:40px;
}

::-webkit-scrollbar {
    width:5px;
}

::-webkit-scrollbar-track {
    background:rgba(194, 193, 193, 0.555); 
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.37); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.521); 
}

.table{
    font-family:AvantGarde;
}

.section1{
    width:60%;
    font-size:20px;
    display:inline;
}

.section2{
    width:60%;
    font-size:20px;
    display:inline;
}

.sec1{
    float:left;
}

.sec2{
    float:left;
    margin-bottom:10px;
}

.dish{
    float:left;
    font-size:22px;
    font-family:Helvetica, sans-serif;
}

.choice{
    line-height:13px;
    margin-bottom:-10px;
    padding-bottom:-10px;
    font-family:Helvetica, sans-serif;
}

p{
    margin-bottom:-13px;
}

.price{
    float:right;
    margin-left:120px;
    font-size:21px;
}

.priceShift{
    float:right;
    margin-left:100px;
    font-size:21px;
    font-family:AvantGarde;
}

.extra{
    color:#8CB743;
    float:left;
    margin-left:-5px;
    font-size:21px;
}

.extraR{
    color:#8CB743;
    float:right;
    margin-left:20px;
    font-size:21px;
}

.detail{
    font-size:15px;
    width:300px;
    text-align:left;
    font-family:AvantGarde;
}

hr{
    margin-left:0px;
    width:800px;
    border:2px dashed #8CB743;
}

td{
    padding:10px;
    text-align:center;
    font-weight:bold;
    background-color:#8db74383;
    border-radius:25px;
    color:white;
}

#sec1Mods{
    float:none;
    margin-top:260px;
}

@font-face {
    font-family:AvantGarde;
    src:url(AvantGardeGothicLight.woff);
}

/*phones*/
@media screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .section1{
        display:block;
        float:left;
    }

    .section2{
        display:block;
        float:left;
    }

    hr{
        float:left;
        width:300px;
        display:block;
    }

    .sec1{
        float:none;
        max-width:310px;
    }

    #sec1Mods{
        margin-top:0px;
    }

    .sec2{
        float:none;
        max-width:310px;
    }

    .priceShift{
        margin-left:0px;
        font-size:16px;
    }

    #subText{
        font-size:15px;
        width:310px;
    }

    #titleSmall{
        font-size:25px;
    }
}

@media screen 
and (min-device-width: 320px) 
and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2){ 
    .section1{
        display:block;
        float:left;
    }

    .section2{
        display:block;
        float:left;
    }

    hr{
        float:left;
        width:300px;
        display:block;
    }

    .sec1{
        float:none;
        max-width:310px;
    }

    #sec1Mods{
        margin-top:0px;
    }

    .sec2{
        float:none;
        max-width:310px;
    }

    .priceShift{
        font-size:13px;
        font-weight:bold;
        margin-right:30px;
    }

    #subText{
        font-size:15px;
        width:310px;
    }

    #titleSmall{
        font-size:25px;
    }

    .choice{
        font-size:16px;
    }

    .detail{
        font-size:16px;
    }

    .extra{
        color:#8CB743;
        float:right;
        margin-right:50px;
        font-size:16px;
    }

    .extraR{
        color:#8CB743;
        float:right;
        margin-left:20px;
        font-size:16px;
    }
}

/*Laptops*/
@media screen   
and (min-device-width: 1300px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
 
}

@media screen 
and (min-device-width:1200px)
and (max-device-width:1300px)
and (-webkit-min-device-pixel-ratio:1){
    
}